<br> 
	<ng-include src="'view/partials/search-box.html'"></ng-include>
<br>

<div class="row text-center">
	<br><br>
	<h4><b>THE FOLLOWING BOOKS HAVE BEEN ISSUED</b></h4>
	<br>
	<div class="row col-md-offset-1">
		<div class="col-md-4"> 
			<img src="img/books/3.jpg" alt="194x228" class="img-responsive" style="box-shadow: 6px 8px 11px #7f7f7f;"> 
		</div>
		<div class="col-md-4"> 
			<img src="img/books/4.jpg" alt="194x228" class="img-responsive" style="box-shadow: 6px 8px 11px #7f7f7f;"> 
		</div>
		<div class="col-md-4"> 
			<img src="img/books/5.jpg" alt="194x228" class="img-responsive" style="box-shadow: 6px 8px 11px #7f7f7f;"> 
		</div>
	</div>
	
</div>