<div class="col-sm-6">
	<h3>My Profile</h3>
	<div class="col-sm-12">
		<img src="img/photo.jpg" class="img-circle" height="65" width="65" alt="Avatar">
	</div>
	<div class="col-sm-4">
		<div class="panel-body">
			<p>Supreeth Y N</p>
		</div>
	</div>
	<div class="col-sm-4">
		<div class="panel-body">
			<p>Member Since<br>01/01/2017</p>
		</div>
	</div>
	<div class="col-sm-4">
		<div class="panel-body">
			<p>Phone No.<br>******8871</p>
		</div>
	</div>
	<div class="col-sm-12">
		<div class="panel-body">
			<h3>Delivery Address</h3>
			<p>#537 24th main 18th cross<br> near BBMP office Jayanagar<br> Bangalore 560070</p>
		</div>
		<div class="panel-body">
			<button type="button" class="btn btn-warning">Edit Profile</button>
		</div>
	</div>
	
</div>
<div class="col-sm-6"> 
	<h3 class="text-left">Notifications</h3><br>
	<div class="row col-sm-12">
		<div class="alert alert-warning fade in">
			<a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
			 
			<p><span class="glyphicon glyphicon-book"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>Ey! People are looking at your profile. Find out who.</strong></p>
		</div>
		<div class="alert alert-success fade in">
			<a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
			 
			<p><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>Ey! People are looking at your profile. Find out who.</strong></p>
		</div>
		<div class="alert alert-danger fade in">
			<a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
			 
			<p><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>Ey! People are looking at your profile. Find out who.</strong></p>
		</div>
	</div>
</div>