
<br>
<div class="row">
	<div class="col-sm-3">
	  <div class="well">
		<h4>Current Plan</h4>
		<p>Start Kit</p> 
	  </div>
	</div>
	<div class="col-sm-3">
	  <div class="well">
		<h4>Duration</h4>
		<p>3 Months</p> 
	  </div>
	</div>
	<div class="col-sm-3">
	  <div class="well">
		<h4>Renewal Date</h4>
		<p>01/03/2017</p> 
	  </div>
	</div>
	<div class="col-sm-3">
	  <div class=""><br></br>
		<button type="button" class="btn btn-primary">Add Renewal Reminder</button>
	  </div>
	</div>
</div>
<hr>
<div class="row">
	<h3>UPGRADE NOW</h3>
	<!--<div class="columns">
	  <ul class="price">
		<li class="header">Starter Kit</li>
		<li class="color1">Rs. 999</li>
		<li class="grey">3 months plan</li>
		<li>One book at a time</li>
		<li class="grey">No registration fee</li>
		<li>No security deposit</li>
		<li class="color1"><a href="#" class="button">GET IT NOW !</a></li>
	  </ul>
	</div>-->

	<div class="columns">
	  <ul class="price">
		<li class="header">Gold Kit</li>
		<li class="color2">Rs. 999</li>
		<li class="grey">Minimum 3 months plan</li>
		<li>Two books at a time</li>
		<li class="grey">One time Registration fee</li>
		<li>One time security deposit</li>
		<li class="color2"><a href="#" class="button">GET IT NOW !</a></li>
	  </ul>
	</div>
	
	<div class="columns">
	  <ul class="price">
		<li class="header">Platinum Kit</li>
		<li class="color3">Rs. 999</li>
		<li class="grey">Minimum 3 books plan</li>
		<li>Choose number of books</li>
		<li class="grey">One time Registration fee</li>
		<li>One time security deposit</li>
		<li class="color3"><a href="#" class="button">GET IT NOW !</a></li>
	  </ul>
	</div>

	<div class="columns">
	  <ul class="price">
		<li class="header">Personal Library Plan</li>
		<li class="color4">Rs. 999</li>
		<li class="grey">Se up a personal library</li>
		<li>Initial collection of 50 books</li>
		<li class="grey">50% swapping every month </li>
		<li>Additional starter kit gift for free</li>
		<li class="color4"><a href="#" class="button">GET IT NOW !</a></li>
	  </ul>
	</div>
</div>
<br>