<br> 
	<ng-include src="'view/partials/search-box.html'"></ng-include>
<br>


<div class="row scroll-area">
<div class="col-xs-12 col-md-6 bootstrap snippets">
	<!-- product -->
	<div class="product-content product-wrap clearfix">
		<div class="row">
			<div class="col-md-5 col-sm-12 col-xs-12">
				<div class="product-image"> 
					<img src="img/books/3.jpg" alt="194x228" class="img-responsive"> 
				</div>
			</div>
			<div class="col-md-7 col-sm-12 col-xs-12">
				<div class="product-deatil">
					<h5 class="name">
						<a href="#">
							Product Name Title Here
						</a>
					</h5>
					<div class="ratings">
						<p>
							<span class="glyphicon glyphicon-star active-star"></span>
							<span class="glyphicon glyphicon-star active-star"></span>
							<span class="glyphicon glyphicon-star active-star"></span>
							<span class="glyphicon glyphicon-star"></span>
							<span class="glyphicon glyphicon-star"></span>
						</p>
					</div>
					<span class="tag1"></span> 
				</div>
				<div class="description">
					<p>Proin in ullamcorper lorem. Maecenas eu ipsum </p>
				</div>
				<div class="col-md-6 col-sm-6 col-xs-6"> 
						<button type="button" class="btn btn-info">Wishlist</button>
				</div>
				<div class="col-md-4 col-sm-6 col-xs-6" id="shop-btn"> 
					<button type="button" class="btn btn-danger">Request</button>
				</div>
			</div>
		</div>
	</div>
	<!-- end product -->
</div>

<div class="col-xs-12 col-md-6 bootstrap snippets">
	<!-- product -->
	<div class="product-content product-wrap clearfix">
		<div class="row">
			<div class="col-md-5 col-sm-12 col-xs-12">
				<div class="product-image"> 
					<img src="img/books/4.jpg" alt="194x228" class="img-responsive"> 
				</div>
			</div>
			<div class="col-md-7 col-sm-12 col-xs-12">
				<div class="product-deatil">
					<h5 class="name">
						<a href="#">
							Product Name Title Here
						</a>
					</h5>
					<div class="ratings">
						<p>
							<span class="glyphicon glyphicon-star active-star"></span>
							<span class="glyphicon glyphicon-star active-star"></span>
							<span class="glyphicon glyphicon-star active-star"></span>
							<span class="glyphicon glyphicon-star"></span>
							<span class="glyphicon glyphicon-star"></span>
						</p>
					</div>
					<span class="tag1"></span> 
				</div>
				<div class="description">
					<p>Proin in ullamcorper lorem. Maecenas eu ipsum </p>
				</div>
				<div class="col-md-6 col-sm-6 col-xs-6 shop-btn"> 
						<button type="button" class="btn btn-info">Wishlist</button>
				</div>
				<div class="col-md-4 col-sm-6 col-xs-6" id="shop-btn"> 
					<button type="button" class="btn btn-success">Requested</button>
				</div>
			</div>
		</div>
	</div>
	<!-- end product -->
</div>

<div class="col-xs-12 col-md-6 bootstrap snippets">
	<!-- product -->
	<div class="product-content product-wrap clearfix">
		<div class="row">
			<div class="col-md-5 col-sm-12 col-xs-12">
				<div class="product-image"> 
					<img src="img/books/5.jpg" alt="194x228" class="img-responsive"> 
				</div>
			</div>
			<div class="col-md-7 col-sm-12 col-xs-12">
				<div class="product-deatil">
					<h5 class="name">
						<a href="#">
							Product Name Title Here
						</a>
					</h5>
					<div class="ratings">
						<p>
							<span class="glyphicon glyphicon-star active-star"></span>
							<span class="glyphicon glyphicon-star active-star"></span>
							<span class="glyphicon glyphicon-star active-star"></span>
							<span class="glyphicon glyphicon-star"></span>
							<span class="glyphicon glyphicon-star"></span>
						</p>
					</div>
					<span class="tag1"></span> 
				</div>
				<div class="description">
					<p>Proin in ullamcorper lorem. Maecenas eu ipsum </p>
				</div>
				<div class="col-md-6 col-sm-6 col-xs-6"> 
						<button type="button" class="btn btn-info">Wishlist</button>
				</div>
				<div class="col-md-4 col-sm-6 col-xs-6" id="shop-btn" > 
					<button type="button" class="btn btn-danger">Request</button>
				</div>
			</div>
		</div>
	</div>
	<!-- end product -->
</div>

<div class="col-xs-12 col-md-6 bootstrap snippets">
	<!-- product -->
	<div class="product-content product-wrap clearfix">
		<div class="row">
			<div class="col-md-5 col-sm-12 col-xs-12">
				<div class="product-image"> 
					<img src="img/books/6.jpg" alt="194x228" class="img-responsive"> 
				</div>
			</div>
			<div class="col-md-7 col-sm-12 col-xs-12">
				<div class="product-deatil">
					<h5 class="name">
						<a href="#">
							Product Name Title Here
						</a>
					</h5>
					<div class="ratings">
						<p>
							<span class="glyphicon glyphicon-star active-star"></span>
							<span class="glyphicon glyphicon-star active-star"></span>
							<span class="glyphicon glyphicon-star active-star"></span>
							<span class="glyphicon glyphicon-star"></span>
							<span class="glyphicon glyphicon-star"></span>
						</p>
					</div>
					<span class="tag1"></span> 
				</div>
				<div class="description">
					<p>Proin in ullamcorper lorem. Maecenas eu ipsum </p>
				</div>
				<div class="col-md-6 col-sm-6 col-xs-6"> 
						<button type="button" class="btn btn-info">Wishlist</button>
				</div>
				<div class="col-md-4 col-sm-6 col-xs-6" id="shop-btn"> 
					<button type="button" class="btn btn-danger">Request</button>
				</div>
			</div>
		</div>
	</div>
	<!-- end product -->
</div>

<div class="col-xs-12 col-md-6 bootstrap snippets">
	<!-- product -->
	<div class="product-content product-wrap clearfix">
		<div class="row">
			<div class="col-md-5 col-sm-12 col-xs-12">
				<div class="product-image"> 
					<img src="img/books/6.jpg" alt="194x228" class="img-responsive"> 
				</div>
			</div>
			<div class="col-md-7 col-sm-12 col-xs-12">
				<div class="product-deatil">
					<h5 class="name">
						<a href="#">
							Product Name Title Here
						</a>
					</h5>
					<div class="ratings">
						<p>
							<span class="glyphicon glyphicon-star active-star"></span>
							<span class="glyphicon glyphicon-star active-star"></span>
							<span class="glyphicon glyphicon-star active-star"></span>
							<span class="glyphicon glyphicon-star"></span>
							<span class="glyphicon glyphicon-star"></span>
						</p>
					</div>
					<span class="tag1"></span> 
				</div>
				<div class="description">
					<p>Proin in ullamcorper lorem. Maecenas eu ipsum </p>
				</div>
				<div class="col-md-6 col-sm-6 col-xs-6"> 
						<button type="button" class="btn btn-info">Wishlist</button>
				</div>
				<div class="col-md-4 col-sm-6 col-xs-6" id="shop-btn"> 
					<button type="button" class="btn btn-danger">Request</button>
				</div>
			</div>
		</div>
	</div>
	<!-- end product -->
</div>

<div class="col-xs-12 col-md-6 bootstrap snippets">
	<!-- product -->
	<div class="product-content product-wrap clearfix">
		<div class="row">
			<div class="col-md-5 col-sm-12 col-xs-12">
				<div class="product-image"> 
					<img src="img/books/6.jpg" alt="194x228" class="img-responsive"> 
				</div>
			</div>
			<div class="col-md-7 col-sm-12 col-xs-12">
				<div class="product-deatil">
					<h5 class="name">
						<a href="#">
							Product Name Title Here
						</a>
					</h5>
					<div class="ratings">
						<p>
							<span class="glyphicon glyphicon-star active-star"></span>
							<span class="glyphicon glyphicon-star active-star"></span>
							<span class="glyphicon glyphicon-star active-star"></span>
							<span class="glyphicon glyphicon-star"></span>
							<span class="glyphicon glyphicon-star"></span>
						</p>
					</div>
					<span class="tag1"></span> 
				</div>
				<div class="description">
					<p>Proin in ullamcorper lorem. Maecenas eu ipsum </p>
				</div>
				<div class="col-md-6 col-sm-6 col-xs-6"> 
						<button type="button" class="btn btn-info">Wishlist</button>
				</div>
				<div class="col-md-4 col-sm-6 col-xs-6" id="shop-btn"> 
					<button type="button" class="btn btn-danger">Request</button>
				</div>
			</div>
		</div>
	</div>
	<!-- end product -->
</div>

<div class="col-xs-12 col-md-6 bootstrap snippets">
	<!-- product -->
	<div class="product-content product-wrap clearfix">
		<div class="row">
			<div class="col-md-5 col-sm-12 col-xs-12">
				<div class="product-image"> 
					<img src="img/books/6.jpg" alt="194x228" class="img-responsive"> 
				</div>
			</div>
			<div class="col-md-7 col-sm-12 col-xs-12">
				<div class="product-deatil">
					<h5 class="name">
						<a href="#">
							Product Name Title Here
						</a>
					</h5>
					<div class="ratings">
						<p>
							<span class="glyphicon glyphicon-star active-star"></span>
							<span class="glyphicon glyphicon-star active-star"></span>
							<span class="glyphicon glyphicon-star active-star"></span>
							<span class="glyphicon glyphicon-star"></span>
							<span class="glyphicon glyphicon-star"></span>
						</p>
					</div>
					<span class="tag1"></span> 
				</div>
				<div class="description">
					<p>Proin in ullamcorper lorem. Maecenas eu ipsum </p>
				</div>
				<div class="col-md-6 col-sm-6 col-xs-6"> 
						<button type="button" class="btn btn-info">Wishlist</button>
				</div>
				<div class="col-md-4 col-sm-6 col-xs-6" id="shop-btn"> 
					<button type="button" class="btn btn-danger">Request</button>
				</div>
			</div>
		</div>
	</div>
	<!-- end product -->
</div>

<div class="col-xs-12 col-md-6 bootstrap snippets">
	<!-- product -->
	<div class="product-content product-wrap clearfix">
		<div class="row">
			<div class="col-md-5 col-sm-12 col-xs-12">
				<div class="product-image"> 
					<img src="img/books/6.jpg" alt="194x228" class="img-responsive"> 
				</div>
			</div>
			<div class="col-md-7 col-sm-12 col-xs-12">
				<div class="product-deatil">
					<h5 class="name">
						<a href="#">
							Product Name Title Here
						</a>
					</h5>
					<div class="ratings">
						<p>
							<span class="glyphicon glyphicon-star active-star"></span>
							<span class="glyphicon glyphicon-star active-star"></span>
							<span class="glyphicon glyphicon-star active-star"></span>
							<span class="glyphicon glyphicon-star"></span>
							<span class="glyphicon glyphicon-star"></span>
						</p>
					</div>
					<span class="tag1"></span> 
				</div>
				<div class="description">
					<p>Proin in ullamcorper lorem. Maecenas eu ipsum </p>
				</div>
				<div class="col-md-6 col-sm-6 col-xs-6"> 
						<button type="button" class="btn btn-info">Wishlist</button>
				</div>
				<div class="col-md-4 col-sm-6 col-xs-6" id="shop-btn"> 
					<button type="button" class="btn btn-danger">Request</button>
				</div>
			</div>
		</div>
	</div>
	<!-- end product -->
</div>
</div>